---
#
# Copyright 2023 Red Hat, Project Atmosphere
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with this program.
# If not, see <https://www.gnu.org/licenses/>.

# 2321087 - How to find the Revision of the SAP HANA Database
- name: Get SAP HANA version (resident)
  ansible.builtin.shell:
    cmd: source ~/.profile && HDB version
  become: true
  become_user: "{{ hana_update_sid | lower }}adm"
  changed_when: false
  register: hana_update_hdb_version_resident

- name: Get version data (resident)
  vars:
    version: "{{ item | regex_replace('^(.+?)version:(.+?)$', '\\2') | trim }}"
  ansible.builtin.set_fact:
    hana_update_hdb_version_resident_str: "{{ version }}"
    # hana_update_hdb_version_resident_int: "{{ version | regex_replace('\\.','') | int }}"
  with_items: "{{ hana_update_hdb_version_resident.stdout_lines }}"
  when: item | regex_search('version:')

# hanadm@hana1:/usr/sap/HAN/HDB00> HDB version
# HDB version info:
#   version:             2.00.057.00.1629894416
#   branch:              fa/hana2sp05
#   machine config:      linuxx86_64
#   git hash:            8093aace35062f89bf120231debdad4a9d5835ac
#   git merge time:      2021-08-25 14:26:56
#   weekstone:           0000.00.0
#   cloud edition:       0000.00.00
#   compile date:        2021-08-25 14:39:57
#   compile host:        ld4554
#   compile type:        rel

# - name: Print out HDB version (resident)
#   ansible.builtin.debug:
#     msg: "{{ hana_update_hdb_version_resident }}"

- name: Get SAP HANA version (medium)
  ansible.builtin.command:
    cmd: >
      "{{ hana_update_component_medium }}/DATA_UNITS/HDB_SERVER_LINUX_X86_64/hdblcm
      --action=print_detected_components
      --component_medium={{ hana_update_component_medium }}"
  become: true
  become_user: root
  changed_when: false
  register: hana_update_hdb_version_medium

# - name: Set version data (medium) initial value
#   set_fact:
#     hana_update_hdb_version_medium_list: []

- name: Get version data (medium)
  vars:
    # index:        "{{ item | regex_replace('^(.+?)\\|(.+?)\\|(.+?)\\|(.+?)\\|(.+?)$', '\\1') | trim }}"
    version_name: "{{ item | regex_replace('^(.+?)\\|(.+?)\\|(.+?)\\|(.+?)\\|(.+?)$', '\\2') | trim }}"
    version: "{{ item | regex_replace('^(.+?)\\|(.+?)\\|(.+?)\\|(.+?)\\|(.+?)$', '\\3') | trim }}"
    batch_key: "{{ item | regex_replace('^(.+?)\\|(.+?)\\|(.+?)\\|(.+?)\\|(.+?)$', '\\4') | trim }}"
    location: "{{ item | regex_replace('^(.+?)\\|(.+?)\\|(.+?)\\|(.+?)\\|(.+?)$', '\\5') | trim }}"
  ansible.builtin.set_fact: >
    hana_update_hdb_version_medium_list: "{{ hana_update_hdb_version_medium_list | default([]) +
      [{
      'name': version_name,
      'version': version,
      'batch_key': batch_key,
      'location': location
      }] }}"
  with_items: "{{ hana_update_hdb_version_medium.stdout_lines }}"
# TODO: use ansible version test to compare versions
# https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#comparing-versions

- name: Get HDB server medium version
  ansible.builtin.set_fact:
    hana_update_hdb_version_medium_str: "{{ item.version }}"
    # hana_update_hdb_version_medium_int: "{{ (item.version | regex_replace('\\.','')) | int }}"
  when: item.batch_key == 'server'
  # debug:
  #   msg: "{{ item }}"
  with_items: "{{ hana_update_hdb_version_medium_list }}"

# yamllint disable rule:line-length

# - name: Stop playbook for the host if resident version is not lower that medium version (idempotency)
#   ansible.builtin.meta: end_host
#   when: hana_update_hdb_version_medium_str is ansible.builtin.version(hana_update_hdb_version_resident_str,'<=')
# TODO: check versions for exact equality in case of ignore list contains 'check_version', otherwise allow downgrade


# - name: Print out HDB version (medium)
#   ansible.builtin.debug:
#     msg: "{{ hana_update_hdb_version_medium }}"

# TODO: check installed hana verstion with resident hdblcm

# sudo ./hdblcm --list_systems
# SAP HANA Database Installations:
# TODO: add idempotency check in case prepare=y, so if HDB is already prepared, no need to execute hdblcm second time
# HAN /hana/shared/HAN HDB_ALONE
#         HDB00
#         version: 2.00.057.00.1629894416
#         host: hana1 (worker)
#         edition: SAP HANA Database
#         Update is pending (prepared at 2022-08-17T14:45:02+0000)
#         SAP HANA Database: Update to version 2.00.063.00.1655123455 is pending (prepared at 2022-08-17T14:45:02+0000)

# Already used instance number: 00
# Next available instance number: 01

# sudo ./hdblcm --action=check_installation


# SAP HANA Lifecycle Management - SAP HANA Database 2.00.057.00.1629894416
# ************************************************************************


# System Properties:
# HAN /hana/shared/HAN HDB_ALONE
#         HDB00
#         version: 2.00.057.00.1629894416
#         host: hana1 (Database Worker (worker))
#         edition: SAP HANA Database

# Enter System Administrator (hanadm) Password:

# Summary before execution:
# =========================

# SAP HANA Database
#    Check Parameters
#       Remote Execution: ssh
#       Execution Scope: system
#       Property File: /hana/shared/HAN/global/hdb/install/support/hdbcheck.xml
#    Log File Locations
#       Log directory: /var/tmp/hdb_HAN_hdblcm_check_installation_2022-08-18_14.24.06
#       Trace location: /var/tmp/hdblcm_2022-08-18_14.24.06_4669.trc

# Do you want to continue? (y/n): y

# Checking SAP HANA Database System installation ...
# Checking SAP HANA system 'HAN'...
# Checking programs (check pending)...
# Checking system administrator 'hanadm'...
# Checking local directories...
# Checking global directories...
# Checking volumes...
# SAP HANA Database System checked.
# Log file written to '/var/tmp/hdb_HAN_hdblcm_check_installation_2022-08-18_14.24.06/hdblcm.log' on host 'hana1'.


# TODO: use resident hdblcm to get version information

# ./hdblcm --action=print_component_list

# [root@hana1 hdblcm]# ./hdblcm --action=print_component_list

# Two components are installed (server and studio)
# TODO: Use XML parser to get data https://docs.ansible.com/ansible/latest/network/user_guide/cli_parsing.html#converting-xml


# <?xml version="1.0" encoding="UTF-8"?>
# <landscapeDescription xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="landscapeDescription.xsd">
#   <version>1.09</version>
#   <productSystem>
#     <sid>HAN</sid>
#     <host>hana1</host>
#     <productSystemLandscapeProduct>
#       <installedProductVersion>
#         <identifyingNumber>73554900100900001301</identifyingNumber>
#         <name>SAP NEWDB</name>
#         <vendor>sap.com</vendor>
#         <version>2.0</version>
#         <caption>SAP HANA PLATFORM EDITION 2.0</caption>
#         <installedSPStack>
#           <identifyingNumber>73555000103300005994</identifyingNumber>
#           <caption>05 (06/2020)</caption>
#           <releaseDate></releaseDate>
#           <installDateTime></installDateTime>
#         </installedSPStack>
#       </installedProductVersion>
#     </productSystemLandscapeProduct>
#     <applicationSystemInLandscape>
#       <databaseSystem>
#         <sid>HAN</sid>
#         <dBName>HAN</dBName>
#         <dBTypeForSAP>HDB</dBTypeForSAP>
#         <host>hana1</host>
#         <installationPath>/usr/sap/HAN</installationPath>
#         <installationNumber>0000000000</installationNumber>
#         <systemNumber>000000000000000000</systemNumber>
#         <installedProductOnApplicationSystem>
#           <installedProductVersion>
#             <identifyingNumber>73554900100900001301</identifyingNumber>
#             <name>SAP NEWDB</name>
#             <vendor>sap.com</vendor>
#             <version>2.0</version>
#             <caption>SAP HANA PLATFORM EDITION 2.0</caption>
#             <collectedSoftwareFeatures>
#               <installedSWFeature>
#                 <caption>SAP HANA database server</caption>
#                 <instanceKey>2</instanceKey>
#                 <identifyingNumber>73554900104900002961</identifyingNumber>
#                 <software-components>
#                   <software-component>
#                     <caption>SAP HANA DATABASE</caption>
#                     <vendor>sap.com</vendor>
#                     <patch-level>00</patch-level>
#                     <version>2.00</version>
#                     <sp-level>057</sp-level>
#                     <name>HDB</name>
#                     <rev-changelist>1629894416</rev-changelist>
#                     <ppms-number>73554900100200005327</ppms-number>
#                     <os-set>linuxx86_64</os-set>
#                   </software-component>
#                 </software-components>
#               </installedSWFeature>
#             </collectedSoftwareFeatures>
#           </installedProductVersion>
#         </installedProductOnApplicationSystem>
#       </databaseSystem>
#       <unspecificStandaloneApplicationSystem>
#         <sid>IMCS</sid>
#         <host>hana1</host>
#         <technologyType>IMDBStudioRepository</technologyType>
#         <installationPath>/hana/shared/HAN/hdbstudio_update</installationPath>
#         <installedProductOnApplicationSystem>
#           <installedProductVersion>
#             <identifyingNumber>73554900100900001301</identifyingNumber>
#             <name>SAP NEWDB</name>
#             <vendor>sap.com</vendor>
#             <version>2.0</version>
#             <caption>SAP HANA PLATFORM EDITION 2.0</caption>
#             <collectedSoftwareFeatures>
#               <installedSWFeature>
#                 <caption>SAP HANA Studio</caption>
#                 <instanceKey>3</instanceKey>
#                 <identifyingNumber>73554900104900002963</identifyingNumber>
#                 <software-components>
#                   <software-component>
#                     <name>HDB_STUDIO</name>
#                     <vendor>sap.com</vendor>
#                     <caption>SAP HANA STUDIO</caption>
#                     <ppms-number>73554900100200000585</ppms-number>
#                     <patch-level>67</patch-level>
#                     <version>2</version>
#                     <os-set>linuxx86_64</os-set>
#                     <sp-level>3</sp-level>
#                     <rev-changelist>000000</rev-changelist>
#                   </software-component>
#                 </software-components>
#               </installedSWFeature>
#             </collectedSoftwareFeatures>
#           </installedProductVersion>
#         </installedProductOnApplicationSystem>
#       </unspecificStandaloneApplicationSystem>
#     </applicationSystemInLandscape>
#   </productSystem>
#   <computerSystemsInLandscape>
#     <computerSystem>
#       <host>hana1</host>
#       <sharedDirectory>/hana/shared/HAN/trans</sharedDirectory>
#     </computerSystem>
#   </computerSystemsInLandscape>
# </landscapeDescription>


# user hdblcm to get information for all component of HANA to be installed

# ./hdblcm --action=print_detected_components

# Enter directory root to search for components: /hana/software/HANAsp06
#   Index | Name                            | Version                  | Batch Key       | Location
#   ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#   1     | SAP HANA Database               | 2.00.063.00.1655123455   | server          | /hana/software/HANAsp06/DATA_UNITS/HDB_SERVER_LINUX_X86_64/server
#   2     | SAP HANA Local Secure Store     | 2.4.62.0                 | lss             | /hana/software/HANAsp06/DATA_UNITS/HANA_LSS_24_LINUX_X86_64/packages
#   3     | SAP HANA Database Client        | 2.10.20.1636580948       | client          | /hana/software/HANAsp06/DATA_UNITS/HDB_CLIENT_LINUX_X86_64/SAP_HANA_CLIENT/client
#   4     | SAP HANA Studio                 | 2.3.67.000000            | studio          | /hana/software/HANAsp06/DATA_UNITS/HDB_STUDIO_LINUX_X86_64/studio
#   5     | SAP HANA XS Advanced Runtime    | 1.0.147.946              | xs              | /hana/software/HANAsp06/DATA_UNITS/XSA_RT_10_LINUX_X86_64/packages
#   6     | SAP HANA AFL (incl.PAL,BFL,OFL) | 2.00.063.0000.1655166502 | afl             | /hana/software/HANAsp06/DATA_UNITS/HDB_AFL_LINUX_X86_64/packages
#   7     | SAP HANA EML AFL                | 2.00.063.0000.1655166502 | eml             | /hana/software/HANAsp06/DATA_UNITS/HDB_EML_AFL_10_LINUX_X86_64/packages
#   8     | SAP HANA EPM-MDS                | 2.00.063.0000.1655166502 | epmmds          | /hana/software/HANAsp06/DATA_UNITS/SAP_HANA_EPM-MDS_10/packages
#   9     | Automated Predictive Library    | 4.203.2213.0.0           | sap_afl_sdk_apl | /hana/software/HANAsp06/DATA_UNITS/PAAPL4_H20_LINUX_X86_64/apl-4.203.2213.0-hana2sp03-linux_x64/installer/packages

# https://gist.github.com/halberom/e8748635d8dd6e363b208a810eb70bc7 - ansible - example of parsing html table into dict


# ./hdblcm --action=extract_components

# SAP HANA Lifecycle Management - SAP HANA Database 2.00.063.00.1655123455
# ************************************************************************


# Scanning software locations...
# Detected components:
#     SAP HANA AFL (incl.PAL,BFL,OFL) (2.00.063.0000.1655166502) in /hana/software/HANAsp06/DATA_UNITS/HDB_AFL_LINUX_X86_64/packages
#     SAP HANA Database (2.00.063.00.1655123455) in /hana/software/HANAsp06/DATA_UNITS/HDB_SERVER_LINUX_X86_64/server
#     SAP HANA Database Client (2.10.20.1636580948) in /hana/software/HANAsp06/DATA_UNITS/HDB_CLIENT_LINUX_X86_64/SAP_HANA_CLIENT/client
#     SAP HANA Studio (2.3.67.000000) in /hana/software/HANAsp06/DATA_UNITS/HDB_STUDIO_LINUX_X86_64/studio
#     SAP HANA Local Secure Store (2.4.62.0) in /hana/software/HANAsp06/DATA_UNITS/HANA_LSS_24_LINUX_X86_64/packages
#     SAP HANA XS Advanced Runtime (1.0.147.946) in /hana/software/HANAsp06/DATA_UNITS/XSA_RT_10_LINUX_X86_64/packages
#     SAP HANA EML AFL (2.00.063.0000.1655166502) in /hana/software/HANAsp06/DATA_UNITS/HDB_EML_AFL_10_LINUX_X86_64/packages
#     SAP HANA EPM-MDS (2.00.063.0000.1655166502) in /hana/software/HANAsp06/DATA_UNITS/SAP_HANA_EPM-MDS_10/packages
#     Automated Predictive Library (4.203.2213.0.0) in /hana/software/HANAsp06/DATA_UNITS/PAAPL4_H20_LINUX_X86_64/apl-4.203.2213.0-hana2sp03-linux_x64/installer/packages
#     GUI for HALM for XSA (including product installer) Version 1 (1.014.2) in /hana/software/HANAsp06/DATA_UNITS/XSA_CONTENT_10/XSACALMPIUI14_2.zip
#     XSAC FILEPROCESSOR 1.0 (1.000.91) in /hana/software/HANAsp06/DATA_UNITS/XSA_CONTENT_10/XSACFILEPROC00_91.zip
#     SAP HANA tools for accessing catalog content, data preview, SQL console, etc. (2.014.220902) in /hana/software/HANAsp06/DATA_UNITS/XSAC_HRTT_20/XSACHRTT14_220902.zip
#     Develop and run portal services for customer apps on XSA (2.006.2) in /hana/software/HANAsp06/DATA_UNITS/XSA_CONTENT_10/XSACPORTALSERV06_2.zip
#     The SAP Web IDE for HANA 2.0 (4.006.1) in /hana/software/HANAsp06/DATA_UNITS/XSAC_SAP_WEB_IDE_20/XSACSAPWEBIDE06_1.zip
#     XS JOB SCHEDULER 1.0 (1.007.15) in /hana/software/HANAsp06/DATA_UNITS/XSA_CONTENT_10/XSACSERVICES07_15.zip
#     SAPUI5 FESV6 XSA 1 - SAPUI5 1.71 (1.071.43) in /hana/software/HANAsp06/DATA_UNITS/XSA_CONTENT_10/XSACUI5FESV671_43.zip
#     SAPUI5 SERVICE BROKER XSA 1 - SAPUI5 Service Broker 1.0 (1.000.3) in /hana/software/HANAsp06/DATA_UNITS/XSA_CONTENT_10/XSACUI5SB00_3.zip
#     XSA Cockpit 1 (1.001.29) in /hana/software/HANAsp06/DATA_UNITS/XSA_CONTENT_10/XSACXSACOCKPIT01_29.zip
