# SPDX-License-Identifier: GPL-3.0-only
# SPDX-FileCopyrightText: 2023 Red Hat, Project Atmosphere
#
# Copyright 2023 Red Hat, Project Atmosphere
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# You should have received a copy of the GNU General Public License along with this program.
# If not, see <https://www.gnu.org/licenses/>.

---
- name: Set sap_kernel_update_kernel_path
  ansible.builtin.include_tasks: init.yml
  when: sap_kernel_update_kernel_path is not defined

- name: Fetch the ABAP instances
  sap.sap_operations.system_info:
    instance_number: "{{ sap_kernel_update_instance }}"
    feature: ABAP
  register: __sap_kernel_update_abab_systems # noqa: var-naming[no-role-prefix]

- name: Run rolling kernel upgrade in case there is multiple ABAP instances
  ansible.builtin.include_tasks: rolling_kernel_upgrade.yml
  when: __sap_kernel_update_abab_systems.system_info | length > 1

- name: Run rolling kernel update
  ansible.builtin.include_tasks: normal_kernel_upgrade.yml
  when: __sap_kernel_update_abab_systems.system_info | length == 1 and sap_force_update

- name: Nothing to do
  ansible.builtin.fail:
    msg: To update SAP system with single dialog instance, you need to set sap_force_update=true
  when: __sap_kernel_update_abab_systems.system_info | length == 1 and not sap_force_update
