---
# SPDX-License-Identifier: GPL-3.0-only
# SPDX-FileCopyrightText: 2024 Kirill Satarin (@kksat)
#
# Copyright 2024 Kirill Satarin (@kksat)
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# You should have received a copy of the GNU General Public License along with this program.
# If not, see <https://www.gnu.org/licenses/>.

argument_specs:
  main:
    short_description: Manage SAP JVM (download / install / uninstall)
    description:
      - Manage SAP JVM
      - Role will download SAP JVM binary from tools.hana.ondemand.com
      - Role can install both rpm and portable versions of SAP JVM, see role documentation
      - Portable version is installed via copy of downloaded archive content, removed via removing installation directory
      - RPM version installation requires root access
      - Role will use ansible_facts to determine current host os system and architecture to download correct SAP JVM binary
      - By using this role and downloading SAP software from tools.hana.ondemand.com you accept SAP developer license agreement
      - One can find more details on tools.hana.ondemand.com
    options:
      sapjvm_version:
        description:
          - Version of SAP JVM to download and install
          - This version must exists on tools.hana.ondemand.com, it does not role will fail
        type: str
        required: true
      sapjvm_state:
        description: SAP JVM state
        type: str
        required: false
        default: present
        choices:
          - present
          - absent
      sapjvm_download_destination:
        description: Folder where SAP JVM binary will be downloaded
        type: path
        required: false
        default: /tmp/sapjvm
      sapjvm_download_filename:
        description:
          - Filename of downloaded SAP JVM binaries,
          - By default Filename is {% raw %}sapjvm-{{ sapjvm_version }}-{{ sapjvm_system }}-{{ sapjvm_architecture }}.{{ sapjvm_archive_extension }}{% endraw %}
          - See definition of variables in defaults/main.yml and vars/main.yml
        type: str
        required: false
      sapjvm_download_filepath:
        description:
          - Complete path to file where SAP JVM binary will be downloaded
          - by default is {% raw %}{{ sapjvm_download_destination }}/{{ sapjvm_download_filename }}{% endraw %}, see other variables
          - If this is set it will overwrite sapjvm_download_destination and sapjvm_download_filename variable values
        type: path
        required: false
      sapjvm_download_timeout_seconds:
        description: Timeout set for download SAP JVM task
        type: int
        required: false
        default: 3600
      sapjvm_unpack_destination:
        description: Folder where SAP JVM binary will be unpacked
        type: path
        required: false
        default: /tmp/sapjvm_unpacked
      sapjvm_portable_install_destination:
        description: Folder where SAP JVM binary will be installed, only relevant for portable installations
        type: path
        required: false
        default: /opt/
      sapjvm_portable_uninstall_destination:
        description: Folder that will be deleted, if SAP JVM portable version is uninstalled
        type: path
        required: false
        default: /opt/sapjvm_8
      sapjvm_system:
        description:
          - SAP JVM is supported on linux, macos, windows. By default role will determine system using ansible_facts.
          - This variable to overwrite system determined by ansible_facts
        type: path
        required: false
        default: linux
        choices:
          - linux
          - darwin
      sapjvm_architecture:
        description:
          - Architecture that for what SAP JVM will be installed
          - By default will be determined from ansible_facts
        type: str
        required: false
        default: x64
        choices:
          - x64
          - ppc64le
          - aarch64
      sapjvm_portable:
        description: If portable version of SAP JVM has to be downloaded and installed / removed
        type: bool
        required: false
        default: false
      sapjvm_eula:
        description: Confirms that you are agree to SAP developer license
        type: str
        required: false
        default: eula_3_2_agreed=tools.hana.ondemand.com/developer-license-3_2.txt

  __limitations__:
    options: {}
    short_description: Limitations
    description:
      - Only supported on linux and darwin (macos) systems
      - root access required if rpm version is installed, sudo package has to be installed
      - packages required zip, tar (to unpack downloaded archives)

  __dependencies__:
    options: {}
    short_description: Dependencies
    description:
      - Role has no dependencies to other roles.

  __examples__:
    options: {}
    short_description: Example Playbooks
    description:
      - "- name: Test SAP JVM portable installation"
      - "  hosts: all"
      - "  gather_facts: false"
      - "  tasks:"
      - "    - name: Make sure that portable SAP JVM present"
      - "      ansible.builtin.include_role:"
      - "        name: sap.sap_operations.sapjvm"
      - "      vars:"
      - "        sapjvm_version: 8.1.097"
      - "        sapjvm_portable: true"

  __license__:
    options: {}
    short_description: License
    description:
      - GPL-3.0-only

  __author__:
    options: {}
    short_description: Author Information
    description:
      - Kirill Satarin (@kksat)
