# SPDX-License-Identifier: GPL-3.0-only
# SPDX-FileCopyrightText: 2024 Kirill Satarin (@kksat)
#
# Copyright 2024 Kirill Satarin (@kksat)
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# You should have received a copy of the GNU General Public License along with this program.
# If not, see <https://www.gnu.org/licenses/>.

---
hana_preconfigure_tuned_profile: sap-hana
hana_preconfigure_packages: "\
  {{
  hana_preconfigure_packages_mapping\
  [ansible_facts['distribution_major_version']]\
  [ansible_facts['architecture']]
  }}"

hana_preconfigure_limits:
  - domain: "*"
    type: soft
    item: core
    value: 0
  - domain: "*"
    type: hard
    item: core
    value: 0

hana_preconfigure_services:
  - name: kdump
    enabled: false
    state: stopped
  - name: firewalld
    enabled: false
    state: stopped

hana_preconfigure_kernel_parameters: "\
  {{
  hana_preconfigure_kernel_parameters_mapping\
  [ansible_facts['distribution_major_version']]\
  [ansible_facts['architecture']]
  }}"

hana_preconfigure_packages_mapping:
  "7":
    x86_64:
      - chrony
      - xfsprogs
      - libaio
      - net-tools
      - bind-utils
      - gtk2
      - libicu
      - xulrunner
      - tcsh
      - sudo
      - libssh2
      - expect
      - cairo
      - graphviz
      - iptraf-ng
      - krb5-workstation
      - krb5-libs
      - libpng12
      - nfs-utils
      - lm_sensors
      - rsyslog
      - openssl
      - PackageKit-gtk3-module
      - libcanberra-gtk2
      - libtool-ltdl
      - xorg-x11-xauth
      - numactl
      - tuned
      - tuned-profiles-sap-hana
      - compat-sap-c++-5
      - compat-sap-c++-6
      - compat-sap-c++-7
      - libatomic
      - compat-sap-c++-9
      - libtool-ltdl
    ppc64le:
      - librtas
      - src
      - rsct.core.utils
      - rsct.core
      - rsct.basic
      - rsct.opt.storagerm
      - devices.chrp.base.ServiceRM
      - DynamicRM
      - ncurses-libs
      - readline
      - sqlite
      - sg3_utils
      - libgcc
      - libstdc++
      - zlib
      - iprutils
      - lsvpd
      - libvpd
      - libservicelog
      - servicelog
      - powerpc-utils
      - powerpc-utils-python
      - ppc64-diag
      - IBMinvscout
  "8":
    x86_64:
      - expect
      - graphviz
      - krb5-workstation
      - libatomic
      - libcanberra-gtk2
      - libibverbs
      - libicu
      - lm_sensors
      - nfs-utils
      - numactl
      - PackageKit-gtk3-module
      - xorg-x11-xauth
      - bind-utils
      - cairo
      - libaio
      - krb5-libs
      - net-tools
      - openssl
      - rsyslog
      - sudo
      - xfsprogs
      - gtk2
      - libtool-ltdl
      - tuned-profiles-sap-hana
      - iptraf-ng
    ppc64le:
      - ibm-power-managed-rhel8
  "9":
    x86_64:
      - expect
      - gtk2
      - krb5-workstation
      - libatomic
      - libcanberra-gtk2
      - libtool-ltdl
      - numactl
      - PackageKit-gtk3-module
      - xorg-x11-xauth
      - chkconfig
      - compat-openssl11
      - graphviz
      - iptraf-ng
      - lm_sensors
      - nfs-utils
      - tuned-profiles-sap-hana
    ppc64le:
      - ibm-power-managed-rhel9

hana_preconfigure_kernel_parameters_mapping:
  "7":
    x86_64:
      - name: net.core.somaxconn
        value: 4096
      - name: net.ipv4.tcp_max_syn_backlog
        value: 8192
      - name: net.ipv4.tcp_timestamps
        value: 1
      - name: net.ipv4.tcp_slow_start_after_idle
        value: 0
    ppc64le:
      - name: net.core.rmem_max
        value: 56623104
      - name: net.core.wmem_max
        value: 56623104
      - name: net.ipv4.tcp_rmem
        value: "65536 262088 56623104"
      - name: net.ipv4.tcp_wmem
        value: "65536 262088 56623104"
      - name: net.ipv4.tcp_mem
        value: "56623104 56623104 56623104"
  "8":
    x86_64:
      - name: net.core.somaxconn
        value: 4096
      - name: net.ipv4.tcp_max_syn_backlog
        value: 8192
      - name: net.ipv4.tcp_timestamps
        value: 1
      - name: net.ipv4.tcp_slow_start_after_idle
        value: 0
      - name: net.core.wmem_max
        value: 4194304
      - name: net.core.rmem_max
        value: 6291456
    ppc64le:
      - name: net.core.rmem_max
        value: 56623104
      - name: net.core.wmem_max
        value: 56623104
      - name: net.ipv4.tcp_rmem
        value: "65536 262088 56623104"
      - name: net.ipv4.tcp_wmem
        value: "65536 262088 56623104"
      - name: net.ipv4.tcp_mem
        value: "56623104 56623104 56623104"
  "9":
    x86_64:
      - name: net.core.somaxconn
        value: 4096
      - name: net.ipv4.tcp_max_syn_backlog
        value: 8192
      - name: net.ipv4.tcp_timestamps
        value: 1
      - name: net.ipv4.tcp_slow_start_after_idle
        value: 0
      - name: net.core.wmem_max
        value: 4194304
      - name: net.core.rmem_max
        value: 6291456
    ppc64le:
      - name: net.core.rmem_max
        value: 56623104
      - name: net.core.wmem_max
        value: 56623104
      - name: net.ipv4.tcp_rmem
        value: "65536 262088 56623104"
      - name: net.ipv4.tcp_wmem
        value: "65536 262088 56623104"
      - name: net.ipv4.tcp_mem
        value: "56623104 56623104 56623104"
