# SPDX-License-Identifier: GPL-3.0-only
# SPDX-FileCopyrightText: 2023 Kirill Satarin (@kksat)
#
# Copyright 2023 Kirill Satarin (@kksat)
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# You should have received a copy of the GNU General Public License along with this program.
# If not, see <https://www.gnu.org/licenses/>.

---
# see documentation https://docs.ansible.com/ansible/latest/dev_guide/developing_program_flow_modules.html#argument-spec
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/validate_argument_spec_module.html

argument_specs:
  main:
    short_description: Role updates a SAP HANA system or instance on a given host.
    description:
      - Role updates a SAP HANA system or instance on a given host.
      - A path to new HANA version installation is required. It can be specified by variable hana_update_component_medium
      - |
        Limitations:
        - Role was tested only on single host.
        - During upgrade hdblcm is configured to use SSH (not saphostagent) to connect to the host.
        - Role only works on X86_64
        - Role is not idempotent. It will always try to update SAP HANA system.
        - Expected that hdblcm tool will take care of any issues (like updating to previous version)

    options:
      hana_update_sid:
        description:
          - SAP HANA System ID.
        type: str
        required: true
      hana_update_component_medium:
        description:
          - Location of Installation Medium
        type: str
        required: true
      hana_update_master_password:
        description:
          - SAP HANA update master password.
          - Master password is not required when all other passwords are set.
          - If any other password is not set it will default to master password.
        type: str
        required: false
      hana_update_password:
        description:
          - System Administrator Password (<sid>adm). If not set will default to hana_update_master_password variable.
        type: str
        required: false
      hana_update_sapadm_password:
        description:
          - SAP Host Agent User (sapadm) password. If not set will default to hana_update_master_password variable.
        type: str
        required: false
      hana_update_system_user_password:
        description:
          - Database User Password. If not set will default to hana_update_master_password variable.
        type: str
        required: false
      hana_update_root_password:
        description:
          - Root User Password For Remote Hosts. If not set will default to hana_update_master_password variable.
        type: str
        required: false
      hana_update_cleanup:
        description:
          - If set to C(true) xml file with passwords will be removed after installation (failed or successful).
          - Recommendation is always keep default value for this parameter C(true) to avoid having passwords in plain text.
        type: bool
        required: false
        default: true
      hana_update_options:
        description:
          - Optional arguments for SAP HANA update
        type: dict
        required: false
        options:
          prepare_update:
            description:
              - Stop update before software version switch, resumable ( Default n=false )
            type: bool
            required: false
          components:
            description: >
              Components ( Valid values: all | client | es | ets |
              lcapps | server | smartda | streaming | rdsync | xs |
              studio | afl | sca | sop | eml | rme | rtl | trp )
            type: str
            required: false
            choices:
              - all
              - client
              - es
              - ets
              - lcapps
              - server
              - smartda
              - streaming
              - rdsync
              - xs
              - studio
              - afl
              - sca
              - sop
              - eml
              - rme
              - rtl
              - trp
          install_hostagent:
            description:
              - Enable the installation or upgrade of the SAP Host Agent ( Default y = true)
            type: bool
            required: false
          check_only:
            description:
              - Execute checks, do not update SAP HANA System ( Default n = false)
            type: bool
            required: false
          verify_signature:
            description: |
              Verify the authenticity of SAP HANA components ( Default: n = false)
            type: bool
            required: false
          update_execution_mode:
            description: |
              Update Execution Mode ( Default: standard; Valid values: standard | optimized )
            type: str
            required: false
            choices:
              - standard
              - optimized
          configure_python:
            description: |
              Configure Python version ( Default: python2; Valid values: python2 | python3 )
            type: str
            required: false
            choices:
              - python2
              - python3
          scope:
            description: |
              Execution Scope ( Default: system; Valid values: instance | system )
            type: str
            required: false
            choices:
              - instance
              - system
          hana_update_hdb_installer_trace_file:
            description: |
              Sets environment variable HDB_INSTALLER_TRACE_FILE to enable SAP HANA hdblcm trace.
              The environment variable 'HDB_INSTALLER_TRACE_FILE=<file>' enables the trace.
            type: path
            default: ""
            required: false
          hdblcm_logdir_copy:
            description: |
              Sets environment variable HDBLCM_LOGDIR_COPY to enable SAP HANA logs copy.
              The environment variable HDBLCM_LOGDIR_COPY=<target directory> creates a copy of the log directory.
            type: path
            default: ""
            required: false
          component_dirs:
            description: |
              List of component directories
            type: list
            required: false
          ignore:
            description: |
              Specifies failing prerequisite checks that the SAP HANA platform lifecycle management tools should ignore.
            type: list
            required: false
            choices:
              - check_busy_files
              - check_component_dependencies
              - check_diskspace
              - check_min_mem
              - check_pending_upgrade
              - check_platform
              - check_resume_hostname
              - check_signature_file
              - check_version
              - verify_signature

  __limitations__:
    options: {}
    short_description: Limitations
    description:
      - Role was tested only on single host.
      - During upgrade hdblcm is configured to use SSH (not saphostagent) to connect to the host.

  __dependencies__:
    options: {}
    short_description: Dependencies
    description:
      - Role has no dependencies to other roles.

  __examples__:
    options: {}
    short_description: Example Playbooks
    description:
      - q""q
      - "```ansible"
      - "- hosts: all"
      - "  tasks:"
      - "    - name: Update SAP HANA"
      - "      ansible.builtin.include_role:"
      - "        name: sap.sap_operations.hana_update"
      - "      vars:"
      - "        hana_update_sid: HAN"
      - '        hana_update_password: "SecurePa$$word"' # notsecret
      - '        hana_update_sapadm_password: "SecurePa$$word"' # notsecret
      - '        hana_update_system_user_password: "SecurePa$$word"' # notsecret
      - '        hana_update_root_password: "SecurePa$$word"' # notsecret
      - "        hana_update_component_medium: /hana/software/HANAsp06" # notsecret
      - "        hana_update_options:"
      - "          prepare_update: false"
      - "          components: server"
      - "          install_hostagent: false"
      - "          check_only: false"
      - "          verify_signature: true"
      - "          update_execution_mode: standard"
      - "          configure_python: python3"
      - "          scope: system"
      - "```"

  __license__:
    options: {}
    short_description: License
    description:
      - GPL-3.0-only

  __author__:
    options: {}
    short_description: Author Information
    description:
      - Kirill Satarin (@kksat)
