<?xml version="1.0" encoding="UTF-8"?>
<Passwords>
<password><![CDATA[{{ hana_update_password }}]]></password>
<sapadm_password><![CDATA[{{ hana_update_sapadm_password }}]]></sapadm_password>
<system_user_password><![CDATA[{{ hana_update_system_user_password }}]]></system_user_password>
<root_password><![CDATA[{{ hana_update_root_password }}]]></root_password>
</Passwords>