# SPDX-License-Identifier: GPL-3.0-only
# SPDX-FileCopyrightText: 2023 Kirill Satarin (@kksat)
#
# Copyright 2023 Kirill Satarin (@kksat)
#
# This program is free software: you can redistribute it and/or modify it under the terms of the GNU
# General Public License as published by the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
# even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# You should have received a copy of the GNU General Public License along with this program.
# If not, see <https://www.gnu.org/licenses/>.

---
argument_specs:
  main:
    short_description: Run pcs cluster checks
    description: []
    options:
      pcs_config_checks_custom: &pcs_config_checks_argument_spec
        description: List of custom checks
        type: list
        elements: dict
        required: false
        default: []
        options:
          condition:
            description:
              - Condition to run check
              - Conditions should use only variables that are provided in checks execution context.
              - ansible_facts and cluster_properties variables are provided in checks execution context.
              - |
                ansible_facts are collected for the host where role is executed,
                so if you are analyzing local xml export of the cluster CIB,
                ansible_facts will be collected for the host where you are
                running the role (for instance localhost).
              - More variables will be provided in checks execution context.
              - |
                Checks are automatically filtered based on the following criteria
                'architecture' variable - either provided as role parameter, or collected from
                ansible_facts
                'platform' and 'version' variables - either provided as role parameters,
                or collected from ansible_facts
                'cloud_provider' - not yet supported.
                Checks filtered out this way will not be even in the main check loop.
              - Another way to filter checks is to use tags. See I(pcs_config_checks_tags_exclude) parameter.
              - |
                If there is a more complex condition when to execute check and when not,
                this condition should be provided individually for each check in parameter I(when).
                For instance, this is how to ignore checks on an odd numbered day.
                {% raw %}
                name: This check will be executed only on even numbered days and will fail.
                condition: false
                when:  "{{ ansible_facts['date_time']['day'] | int % 2 == 0 }}"
                {% endraw %}
                Check will be marked as skipped and not executed if 'when' condition is C(false).
                But this check will appear in list of checks.
            type: list
            elements: str
            required: false
            default: []
          name:
            description: Name of the check
            type: str
            required: true
          documentation:
            description: Documentation for the check
            type: str
            required: false
          remediation:
            description: Remediation for the check
            type: str
            required: false
          fail_msg:
            description: Message to print if check fails
            type: str
            required: false
            default: FAILED
          success_msg:
            description: Message to print if check succeeds
            type: str
            required: false
            default: PASSED
          priority:
            description: Priority of the check
            type: str
            required: false
            default: medium
            choices:
              - high
              - medium
              - low
          severity:
            description: Severity of the check
            type: str
            required: false
            default: warning
            choices:
              - error
              - warning
              - info
          when:
            description: If this condition is true, the check will be executed
            type: bool
            required: false
            default: true
          quiet:
            description: If this is true, the check will be executed quietly
            type: bool
            required: false
            default: true
          tags:
            description: Tags for the check
            type: list
            elements: str
            required: false
            default:
              - cluster
              - pcs
          architectures:
            description:
              - List of architectures on which check will be executed
            type: list
            elements: str
            required: false
            default:
              - x86_64
              - ppc64le
          platforms:
            description:
              - Platform on which check will be executed
              - Platform specification as in ansible collections meta/main.yml file
            type: list
            elements: dict
            required: false
            default:
              - name: EL
                version: "7"
              - name: EL
                version: "8"
              - name: EL
                version: "9"
          cloud_providers:
            description:
              - List of cloud providers on which check will be executed
            type: list
            elements: str
            required: false
            default:
              - azure
              - aws
              - gcp
          ignore_errors:
            description:
              - C(True) if errors should be ignored
              - C(False) if errors should be raised
            type: bool
            required: false
            default: false

      pcs_config_checks_preconfigured:
        <<: *pcs_config_checks_argument_spec
        description: List of preconfigured checks

      pcs_config_checks_platform:
        description: Overwrite platform collected by ansible_facts
        type: dict
        required: false
        options:
          name:
            description: Name of the platform
            type: str
            required: true
            choices:
              - EL
          version:
            description: Version of the platform
            type: str
            required: true
            choices:
              - "7"
              - "8"
              - "9"

      pcs_config_checks_architecture:
        description: Overwrite architecture collected by ansible_facts
        type: str
        required: false
        choices:
          - x86_64
          - ppc64le

      pcs_config_checks_mode:
        description:
          - Role execution mode
          - Debug provides more information about the checks and execution context
          - Assert is the default mode
        type: str
        required: false
        default: assert
        choices:
          - assert
          - debug

      pcs_config_checks_verbose:
        description:
          - If this C(True), more information will be provided in output.
          - Affects both debug and assert modes
          - |
            If set to C(True) quiet parameter for all checks will be ignored,
            effectively making check.quiet false for all checks.
          - If set to C(False) check.quiet parameter will be used.
        type: bool
        required: false
        default: false

      pcs_config_checks_tags_exclude:
        description:
          - List of tags to exclude
          - If check has tag from this list, it will not run
          - Checks with tag 'skip' will never run
          - Only first **five** elements from this list are used, all other are ignored
        type: list
        elements: str
        required: false
        default:
          - skip

      pcs_config_checks_custom_only:
        description:
          - If this is C(True), only custom checks I(pcs_config_checks_custom) will be executed
          - If this is C(False), preconfigured and custom checks will be executed
        type: bool
        required: false
        default: false

      pcs_config_checks_loop_display:
        description:
          - Indicate what will be displayed in loop when executing checks
        type: str
        required: false
        default: name
        choices:
          - name
          - condition
          - documentation
          - remediation
          - fail_msg
          - success_msg
          - priority
          - severity
          - when
          - quiet
          - tags
          - architectures
          - platforms
          - cloud_providers
